body{

padding: 20px;

}

ul li {
    display: inline;
    margin: 0 105px;
    margin-left: 100px;

}

/*zona de el perfil arriba*/

.engineer{

background-color: rgb(225, 166, 95);
font-weight: bold;
padding: 5px 10px;
display: inline-block;
margin-right: -124px;
padding-bottom: 12px;
font-size: 30px;
}

.cu{

background-color: rgb(225, 166, 95);
padding-left: 50px;
padding-bottom: 306px;
padding-top: 40px;
margin-left: -30px;
color: rgb(225, 166, 95);

}

.profile {

    padding-left: 20px;
    padding-right: 50px;
    text-align: justify;
  

}


.perfil {

    width: 90%;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid black;
}

.perfil h1{

font-size: 40px;

}

.profile {

    padding: 25px 25px 0px 0px;
    width: 90%;
    text-align: justify;
}

.perfil2 {

    display: flex;
    margin-top: -50px;

}

.engineer {

background-color: rgb(225, 166, 95);
width: 500px;

}

.nombre h1{

margin-top: -20px;
margin-bottom: 10px;
}

/*Zona de la educacion*/

.education {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;

}

.education h2{

font-size: 50px;

}

.education-element {

    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;
}

.education-container {

    display: flex;
    margin-top: -50px;
}

.borde {

    border-left: 1px solid black;
    padding-left: 25px;
}

/*Zona de la experiencia*/

.experiencia {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;


}

.experiencia h2{

font-size: 50px;

}

.experiencia-element {

    padding: 25px 25px px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;
}

.experiencia-container {

    display: flex;
    margin-top: -20px;
}


.borde {

    border-left: 1px solid black;
    padding-left: 25px;
}


/*Zona de las habilidades*/

.habilidades {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;

}

.habilidades-element {

    padding: 25px 25px 25px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;

}

.habilidades-container {

    display: flex;

}

.borde {

    border-left: 1px solid black;
    padding-left: 25px;
}

#python-cuadro-negro {

    background-color: black;
    padding-left: 1px;
}

#python-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 5px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 20px;
}

#java-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;
}

#java-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 2px;
}

#c-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;

}

#c-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 51px;
}

#ruby-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;

}

#ruby-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 204px;
}

#s-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;

}

#s-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 57px;
}

#sql-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;

}

#sql-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 9px;
}

/*Zona de proyectos*/

.proyectos1 {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;


}

.proyectos2 {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid black;

}


.proyectos-element {

    padding: 25px 25px px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;
}

.proyectos-container {

    display: flex;

}

.borde {


    padding-left: 25px;
}

/*Idiomas y certificaciones*/

.idiomas {

    width: 95%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid black;

}


.idiomas-element {

    padding: 25px 25px px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;
}

.idiomas-container {

    display: flex;

}

.borde {


    padding-left: 25px;
}

.certificacion {

    width: 95%;
    padding-left: 5px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 5px;


}


.certificacion-element {

    padding: 25px 25px px 0px;
    width: 50%;
    text-align: justify;
    padding-right: 25px;
}

.certificacion-container {

    display: flex;

}

.certificacion-2 {

    width: 95%;
    padding: 25px
}

#english-cuadro-negro {

    background-color: black;
    padding-left: 22px;
    margin-left: 3px;

}

#english-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 9px;
}

#german-cuadro-negro {

    background-color: black;
    padding-left: 1px;
    margin-left: 7px;

}

#german-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 31px;
}

#french-cuadro-negro {

    background-color: black;
    padding-left: 1px;
    margin-left: 14px;

}

#french-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 86px;
}

#spanish-cuadro-negro {

    background-color: black;
    padding-left: 87px;
    margin-left: 7px;


}

#spanish-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 5px;
}

#turkis-cuadro-negro {

    background-color: black;
    padding-left: 1px;
    margin-left: 17px;


}

#turkis-cuadro-gris {

    background-color: rgb(200, 200, 200);
    padding-right: 1px;
    color: rgb(200, 200, 200);
    text-align: center;
    padding-left: 40px;
}

/*Hobbies*/

.hobbies {

    padding-left: 40px;
    padding-right: -30px;

}

.hobbies-todo {

    display: flex;
    padding-left: -70px;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: -45px;


}

.hobby img {

    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px;


}

.hobby {
    width: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}